<%- include header %>
<section class="portlet light bordered">

    <!-- Input -->
    <% var messages = getMessages() %>
    <% if(messages.notify) { %>
    <div id="prefix_1179310738153" class="custom-alerts alert alert-success fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><i class="fa-lg fa fa-info"></i>
        <%= messages.notify%>
    </div>
    <% } %>
    <% if(messages.error) { %>
    <div id="prefix_1179310738153" class="custom-alerts alert alert-danger fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><i class="fa-lg fa fa-warning"></i>
        <%= messages.error%>
    </div>
    <% } %>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        CHANGE PASSWORD
                    </h2>

                </div>
                <div class="body">
                    <!-- Default form -->
                    <!--<form id="validate" action="/updatePassword" method="post" enctype="multipart/form-data">-->
                    <form id="validate" action="/updatePassword" method="post">
                        <div class="widget">

                            <div class="">

                                <!--<div class="form-group form-md-line-input  col-md-12">-->
                                    <!--<label class="control-label">Old Password<span class="text-error">* &nbsp;</span>:</label>-->
                                    <!--<div class="controls"><input type="password" name="old_password" value="" id="old_password" class="form-control"  placeholder="Old Password" /><span id="projectNameErr"></span></div>-->
                                <!--</div>-->

                                <div class="form-group form-md-line-input  col-md-12">
                                    <label class="control-label">New Password<span class="text-error">* &nbsp;</span>:</label>
                                    <div class="controls">
                                        <input type="password" name="new_password" value="" id="new_password" class="form-control" placeholder="New Password" />
                                        <span id="projectNameErr"></span>
                                    </div>
                                </div>


                                <!--<div class="form-group form-md-line-input  col-md-12">-->
                                    <!--<label class="control-label">Confirm Password<span class="text-error">* &nbsp;</span>:</label>-->
                                    <!--<div class="controls"><input type="password" name="re_enter_password" value="" id="re_enter_password" class="form-control" placeholder="Confirm Password" /><span id="projectNameErr"></span></div>-->
                                <!--</div>-->



                                <div class="form-group form-md-line-input  col-md-12">
                                    <button type="submit" name="FormSubmit" class="btn m-b-xs w-xs btn-primary waves-effect">Submit</button>
                                    <a href="/dashboard" class="btn m-b-xs w-xs btn-danger waves-effect sort" lang="/profile"> Cancel</a>
                                </div>

                            </div>

                        </div>
                    </form>
                    <!-- /default form -->
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    $(document).ready(function () {

        var i=0;
        jQuery("input,textarea").on('keypress',function(e){
            //alert();
            if(jQuery(this).val().length < 1){
                if(e.which == 32){
                    //alert(e.which);
                    return false;
                }
            }
            else {
                if(e.which == 32){
                    if(i != 0){
                        return false;
                    }
                    i++;
                }
                else{
                    i=0;
                }
            }
        });

        $('#validate').validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            // rules: {
            //     old_password: {
            //         required: true,
            //         remote: {url: "<?php echo Yii::app()->params->base_path; ?>admin/checkOldPassword", type: "post"}
            //     },
            //     new_password: {
            //         required: true,
            //         minlength: 6
            //     },
            //     re_enter_password: {
            //         required: true,
            //         equalTo: "#new_password"
            //     }
            // },
            messages: {
                old_password: {
                    required: "Please enter the old password",
                    remote: "Old password does not match"
                },
                new_password: {
                    required: "Please enter the new password",
                },
                re_enter_password: {
                    required: "Please enter the confirm password",
                    equalTo: "Enter confirm password same as password"
                }
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                $('.alert-danger', $('.form-horizontal')).show();
            },
            highlight: function (element) { // hightlight error inputs
                $(element).closest('.form-group').addClass('has-error'); // set error class to the control group
            },
            onfocusout: function (element) {
                $(element).valid();
            },
            success: function (label) {
                label.closest('.form-group').removeClass('has-error');
                label.remove();
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.closest('.form-control'));
                $("#name-error").css("position", "absolute");
            },
            submitHandler: function (form) {
                //$('.form-horizontal').submit();
                //form.submit(); // form validation success, call ajax form submit
                submitForm();
            }
        });

    });

</script>

<%- include leftPanel %>